body {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.cls {
    clear: both;
}

a {
    text-decoration: none;
    color: darkgray;
    padding: 10px;
}

.collections[data-visible],
.menuClose[data-visible],
.cartbox[data-visible] {
    display: block;
}

.menuOpen[data-hidden] {
    display: none;
}

.maxWidth {
    max-width: 1440px;
    margin-inline: auto;
}

main {
    border-bottom: 1px solid hsl(25, 100%, 94%);
    box-shadow: 0px 20px 10px -10px hsl(25, 100%, 94%);
    padding-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

header {
    padding-block: 5px;
    align-items: center;
    box-shadow: 1px 1px 10px 10px hsl(25, 100%, 94%);
    border-bottom: 1px solid hsl(25, 100%, 94%);
}

header .maxWidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.attribution {
    margin-top: 10px;
    text-align: center;
    font-size: 1.25rem;
    color: hsl(26, 100%, 55%);
}

.attribution a {
    color: hsl(26, 100%, 70%);
    padding: 0;
    transition: all 250ms linear;
}

.attribution a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid hsl(26, 100%, 55%);
}

/* #region */

.collections ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collections li {
    padding: 0 5px;
}

.collections a:hover {
    color: hsl(0, 0%, 0%);
    font-weight: bold;
    border-bottom: 3px solid hsl(26, 100%, 55%);
    padding-bottom: 25px;
    border-radius: 2px;
    transition: 0.5s;
}



.logo {
    margin-left: 3vw;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menuBtn {
    background: none;
    border: none;
    cursor: pointer;
    transform: opacity 0.5s ease;
    display: none;
    position: relative;
    z-index: 5;
    padding: 0;
    margin-top: 5px;
}

.menuClose {
    display: none;
}

.menuBtn:hover {
    transform: rotate(270deg);
    opacity: 0.5;
    transition: 0.5s;
}

.logo h1 {
    margin: 0;
    padding: 0;
}

.logo a {
    color: hsl(0, 0%, 0%);
    margin: 0px;
    padding: 0;
}

.logo a:hover {
    color: darkgray;
    border-bottom: 3px solid hsl(26, 100%, 55%);
    padding-bottom: 15px;
    border-radius: 2px;
    transition: 0.5s;
}

.cartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cartContainer button {
    border: none;
    padding: 5px;
    cursor: pointer;
    position: relative;
    background: none;
}


.cartspan {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -30%;
    right: -30%;
    border-radius: 100%;
}

.cartspan .inputbox {
    width: 100%;
    height: 100%;
    background-color: hsl(26, 100%, 55%);
    color: hsl(25, 100%, 94%);
    border: none;
    border-radius: 100%;
    outline: none;
    text-align: center;
    font-size: 18px;
    visibility: hidden;
}

.avatar {
    width: 70px;
    border: 3px solid hsl(26, 100%, 55%);
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
    transform: opacity 1s ease;
}

.avatar:hover {
    opacity: 0.6;
}

.cartbox {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: hsl(0, 100%, 100%);
    right: 2%;
    width: 300px;
    top: 95px;
    height: 250px;
    overflow-y: scroll;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px hsl(25, 100%, 94%);
}

.cartbox .carttitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px -25px 50px;
    font-size: 25px;
}

.cartbox .carttitle button {
    width: 50px;
    height: 35px;
    border: none;
    background: url("../images/icon-close.svg"), hsl(25, 100%, 94%);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.cartbox .carttitle button:hover {
    color: hsl(25, 100%, 94%);
    background-color: hsl(26, 100%, 55%);
    opacity: 0.8;
    transform: rotate(180deg);
    transition: 0.5s;
}

.cartbox .cartbody {
    margin: 15px;
}

.cartdescription {
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
    opacity: 0;
}

.cartimage {
    width: 25%;
}

.cartimage img {
    width: 100%;
    border-radius: 10px;
}

.cartcontent p {
    color: darkgray;
    font-size: 15px;
    margin: 10px 0px;
}

.cartcontent>div {
    display: flex;
    justify-content: space-between;
}

.cartcontent .total p {
    font-weight: bold;
    color: black;
}

.cartcontent>div>img {
    margin-top: 10px;
    width: auto;
    height: 100%;
    cursor: pointer;
}

.cartbody button {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: hsl(25, 100%, 94%);
    background-color: hsl(26, 100%, 55%);
    font-size: 20px;
    opacity: 0;
}

.cartbody button:hover {
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    transition: 0.5s;
}

.cartbody .empty {
    position: absolute;
    width: auto;
    height: 20px;
    top: 50%;
    left: 25%;
    text-align: center;
    color: darkgray;
    opacity: 1;
}

.images {
    position: relative;
    width: 50%;
}

.product-1 {
    width: 90%;
    position: relative;
    margin: auto;
}

.product-1 .mainImg {
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 10px 10px 10px hsl(25, 100%, 94%);
}

.product-1 .previous,
.product-1 .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transform: opacity 1s ease-in-out;
}

.product-1 .previous {
    left: 2%;
    background: url("../images/icon-previous.svg"), hsl(0, 100%, 100%);
    background-repeat: no-repeat;
    background-position: center;
}

.product-1 .next {
    right: 2%;
    background: url("../images/icon-next.svg"), hsl(0, 100%, 100%);
    background-repeat: no-repeat;
    background-position: center;
}

.product-1 .previous:hover,
.product-1 .next:hover {
    opacity: 0.5;
}


.thumbnail {
    padding: 0;
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail li {
    width: 20%;
    margin: 2%;
    cursor: pointer;
}

.thumbnail li img {
    width: 100%;
    border-radius: 10px;
    background-color: hsl(25, 100%, 94%);
    transition: opacity 500ms ease-in-out;
}

.thumbnail li img:hover {
    outline: 3px solid hsl(26, 100%, 55%);
    opacity: 0.5;
}

.images .text {
    margin: 15% 10%;
    padding: 0;
}

.text h3,
.text h4 {
    color: hsl(26, 100%, 55%);
}

.text p {
    color: darkgray;
}

.text .two {
    text-decoration: line-through;
}

.text .discount {
    display: flex;
    align-items: center;
    gap: 20px;
}

.discount h2 {
    margin: 0;
}

.discount h4 {
    background-color: hsl(25, 100%, 94%);
    border-radius: 10px;
    padding: 7px 15px;
    margin: 0;
}

.text .count {
    display: flex;
    align-items: center;
}

.increament {
    background-color: whitesmoke;
    border-radius: 10px;
}

.increament .inputbox {
    width: 35px;
    height: 35px;
    border: none;
    margin-top: 4px;
    text-align: center;
    background-color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    outline: none;

    -moz-appearance: none;
}

.increament .inputbox::-webkit-inner-spin-button,
.increament .inputbox::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.increament button {
    cursor: pointer;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background: transparent;

    padding: 0;
    margin: 0;
}

.increament button:hover {
    background-color: hsl(25, 100%, 94%);
}

.addcart button {
    margin: 0px 15px;
    padding: 0px 30px;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: hsl(25, 100%, 94%);
    background-color: hsl(26, 100%, 55%);
    font-size: 18px;
    cursor: pointer;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.addcart button:hover {
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    transition: 1000ms ease-in-out;
}


/* Media Queries */

@media (max-width: 919px) {
    .collections {
        display: none;
        position: absolute;
        z-index: 1;
        background: white;
        top: 0;
        left: 0;
        height: 100vh;
        width: 80vw;
    }

    .collections ul {
        margin-top: 20vh;
        align-items: flex-start;
        flex-direction: column;
        gap: 50px;
        padding-left: 10vw;
    }

    .collections a {
        color: black;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .collections a:hover {
        color: hsl(0, 0%, 0%, 50%);
    }

    .menuBtn {
        display: block;
    }

    .logo h1 {
        font-size: 25px;
    }

    .avatar {
        width: 50px;
    }

    .container {
        align-items: center;
    }

    .images .text {
        margin: 0% 10%;
    }

    .text h3 {
        margin-top: 0;
    }

    .text .count {
        display: block;
    }

    .increament {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .increament .inputbox {
        width: 31%;
        height: 50px;
        margin: 0;
        padding: 0;
        margin-top: 0px;
    }

    .increament button {
        height: 50px;
        width: 32%;
    }


    .addcart {
        margin-top: 15px;
        width: 100%;
    }

    .addcart button {
        width: 100%;
        height: 50px;
        margin: 0px;
    }
}


@media (max-width: 550px) {
    .logo {
        margin-left: 5vw;
    }

    .container {
        display: block;
        margin-top: 5px;
    }

    .cartbox {
        border-radius: 10px;
        right: 2.5%;
    }

    .images {
        width: 100%;
    }

    .product-1 {
        width: 100%;
    }

    .product-1 .mainImg {
        border-radius: 0px;
    }

    .thumbnail {
        display: none;
    }

    .discount h2 {
        font-size: 1.5rem;
    }

    .discountTwo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .text .discount {
        gap: 10px;
    }

    .attribution {
        font-size: 1rem;
    }
}